Source: jenkins-support-scripts
Section: libs
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), appver, xsltproc, docbook-xsl
Standards-Version: 3.8.1
Homepage: http://safrm.net/projects/jenkins-support-scripts

Package: jenkins-support-scripts
Architecture: all
Depends: dpkg-sig, dpkg-dev, gpgv, apt-utils, tidy, xmllint ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: Jenkins support scripts  


